services:
  nginx:
    image: nginx:alpine
    restart: always
    ports:
      - "0.0.0.0:8000:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - server
      - bot
    networks:
      - backend
  server:
    build:
      context: ./server
      dockerfile: Dockerfile
    image: express
    environment:
      - SUPABASE_URL=${SUPABASE2_URL}
      - SUPABASE_KEY=${SUPABASE2_KEY}
    depends_on:
      - bot
    networks:
      - backend
  bot:
    build:
      context: ./bot
      dockerfile: Dockerfile
    environment:
      - SUPABASE_URL=${SUPABASE_URL}
      - SUPABASE_KEY=${SUPABASE_KEY}
      - SUPABASE2_URL=${SUPABASE2_URL}
      - SUPABASE2_KEY=${SUPABASE2_KEY}
      - API_KEY=${API_KEY}
      - KOYEB_URL=${KOYEB_URL}
      - BOT_TOKEN=${BOT_TOKEN}
    networks:
      - backend
networks:
  backend:
    driver: bridge